:root {
    --primary-color: #451B88;
    --secondary-color: #a6d3f0;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}


input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + .dark-mode-toggle {
    background-color: #333;
}

input[type="checkbox"]:checked + .dark-mode-toggle::after {
    left: calc(100% - 2px);
}


.c2a a {
    color: #5D0909;
    text-decoration: none;
}

main {
    background-color: #a4E48B;
    color: #47095D;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

h1{
    font-family: 'Cinzel';
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}

h2, h3, h4, h5, h6 {
    font-family: 'Cinzel', serif;
    color: #47095D;
}

header {
    background-color: #47095D;
    color: #A4E48B;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

header img {
    width: 100px;
    height: 100px;
}
.navigation {
    font-family: 'Cinzel', serif;
    background-color: #47095D;
    color: #A4E48B;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation ul {
    font-size: 20px;
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navigation li {
    flex: 1;
    text-align: center;
}

.navigation li a {
    display: block;
    color: #A4E48B;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    background-color: #A4E48B;
    color: #47095D;
}

.navigation a.active {
    text-decoration: underline;
    color: #47095D;
    background-color: #A4E48B;
}

.hero {
    grid-column: 1/-1;
    width: 100%;
    overflow: hidden;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto; 
    max-width: 100%; 
}

.c2a, .current-events {
    grid-column: span 1;
    grid-row: 2;
    background-color: #75FAA8;
    border: 5px solid #47095D;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px; 
    margin-bottom: 20px;
}

.weather-card {
    grid-column: span 2;
    grid-row: 2;
    background-color: #75FAA8;
    border: 2px solid #47095D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px; 
    margin-bottom: 20px;
}

.weather-card p {
    font-weight: bold;
    text-decoration: underline;
}


.spotlightcard1 img,
.spotlightcard2 img,
.spotlightcard3 img {
    display: block;
    padding: 20px;
    margin: 0 auto; 
    max-width: 100%; 
}

.spotlightcard1 h3,
.spotlightcard2 h3,
.spotlightcard3 h3{
        font-weight: bolder;
        text-decoration: underline;
    }

.spotlightcard1, .spotlightcard2, .spotlightcard3 {
    grid-column: span 1;
    grid-row: 3/4;
    background-color: #75FAA8;
    border: 2px solid #47095D;
    font-weight: 500;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
}

.spotlightcard1 h3,.spotlightcard2 h3,.spotlightcard3 h3 {
    color: #47095D;
    font-weight: bold;
} 

footer {
    background-color: #47095D;
    color: #A4E48B;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    font-size: 14px;
}

#project-info {
    font-size: 14px;
    margin-left: auto; 
}

#lastModified {
    font-size: 14px;
    text-align: center;
}

.navigation #menu {
    display: none;
}

.dark-mode body,
.dark-mode main,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .hero,
.dark-mode .c2a,
.dark-mode .current-events,
.dark-mode .weather-card,
.dark-mode .spotlightcard1,
.dark-mode .spotlightcard2,
.dark-mode .spotlightcard3{
    background-color: #000;
    color: #fff;
}

.dark-mode-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dark-mode-toggle::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s ease;
}

.dark-mode-toggle.dark-mode {
    background-color: #333;
}

.dark-mode-toggle.dark-mode::after {
    left: calc(100% - 2px);
}

.dark-mode {
    background-color: #000;
    color: #fff;
}

.container {
    display: grid;
    grid-template-columns: 400px auto;
    grid-gap: 20px;
    min-height: 100vh;
    padding: 20px;
}

.sidebar {
    background-color: #47095D;
    color: #A4E48B;
    padding: 20px;
}

.sidebar h2{
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.sidebar h2, h3 {
    color: #A4E48B;
}

.sidebar a {
    color: #A4E48B;
}

#discover{
    background-color: #a4E48B;
    color: #47095D;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    justify-items: center;
}

.imagecard {
    position: relative;
    text-align: center;
    align-items: center;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

.imagecard picture {
    display: block;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s; 
}

.imagecard:hover picture {
    transform: scale(1.1);
}

.imagelabel {
    position: absolute;
    top: 10px;
    left: 10px;
    background: radial-gradient(#fff, #56689c);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    transition: opacity 0.3s;
}

.imagecard:hover .imagelabel {
    opacity: 1;
}

.imagelabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Vollkorn", serif;
}

.visits,.demographics,.events,.attractions{
    border: 2px solid #A4E48B;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
}

#join {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

#userForm {
    grid-column: 1;
}

.benefitcard {
    grid-column: 2;
}

.benefitcard {
    background-color: #75FAA8;
    margin: 20px;
    border: 2px solid #47095D;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    justify-content: center;
    padding: 45px;
    height: fit-content;
}

.benefitcard h2 {
    font-weight: 800;
    margin-top: 0;
    text-align: center;
    text-shadow: -1px -1px 0 #fff,
                  1px -1px 0 #fff,
                 -1px  1px 0 #fff,
                  1px  1px 0 #fff;
}

.benefitcard ul {
    text-align: left;
}

#userForm {
    max-width: 700px;
    height: fit-content;
    margin: 0 auto;
}

#thanks {
    background-color: var(--primary-color);   
}

#thankyou {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "Philosopher", sans-serif;
    text-align: center;
    background-color: var(--primary-color);   
    color: #75FAA8;
    padding: 20px;
}

#thankyou h1 {
    margin: 0 auto;
}

form {
    background-color: #75FAA8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;
}

fieldset {
    margin: 20px;
    border: none;
    border: 3px solid #75FAA8;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    padding: 20px;
}

legend {
    font-family: "Philosopher", sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: var(--primary-color);
    margin-bottom: 10px;
    padding: 0 10px;
    text-shadow: -1px -1px 0 #fff,  
                  1px -1px 0 #fff,
                 -1px  1px 0 #fff,
                  1px  1px 0 #fff;
}

label {
    display: block;
    font-family: "Philosopher", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--primary-color);
}

#userForm input[type="text"],
#userForm input[type="email"],
#userForm button,
#userForm textarea,
#userForm select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

fieldset.membership {
    margin: 20px;
    border: none;
    border: 3px solid #75FAA8;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    padding: 20px;
}

fieldset.membership legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
    padding: 0 10px;
    text-shadow: -1px -1px 0 #fff,  
                  1px -1px 0 #fff,
                 -1px  1px 0 #fff,
                  1px  1px 0 #fff;
}

fieldset.membership label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: var(--primary-color);
}

fieldset.membership textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

#userForm textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.submit {
    display: block;
    background-color: var(--primary-color);
    color: #A4E48B;
    border: none;
    cursor: pointer;
    font-family: "Philosopher", sans-serif;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 auto;
}

.submit:hover {
    font-weight: bold;
    background-color: #A4E48B;
    color: var(--primary-color)
}

#tyfoot {
    width: 100%;
    display: flex;
    color: #75FAA8;
    background-color: #03250C;
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tyfoot {
    position:fixed;
    bottom: 0;
}

#member-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.comMembers {
    border: 2px solid #03250C;
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: #47095D;
    color: #75FAA8;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    min-width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1.5);
}

.comMembers a {
    color: #A4E48B;
}

.comMembers h2 {
    color: #A4E48B;
    font-weight: bolder;
    text-decoration: underline;
}

.comMembers h3 {
    text-shadow: 3px 0px rgba(0, 0, 0, 0.5);
}

.comMembers img {
    height: 60px;
    width: auto;
}

.directory {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu {
    text-align: center;
    margin-bottom: 20px;
}

#grid, #list {
    background-color: #47095D;
    color: #75FAA8;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#grid:hover, #list:hover {
    background-color: #75FAA8;
    color: #47095D;
}

#member-cards.grid .comMembers img {
    height: 60px;
    width: auto;
}

#member-cards.list {
    grid-template-columns: auto;
    justify-content: center;
    
}

#member-cards.list .comMembers {
    text-align: center;
}

#member-cards.list .comMembers img {
    display: none;
}

@media screen and (max-width: 700px) {
    
    header {
        padding: 10px 10px;
    }

    header h1 {
        font-size: 4vw;
        
    }

    .navigation {
        justify-content: flex-end;
    }

    .navigation #menu {
        display: block;
    }

    .navigation ul {
        display: none;
        position: absolute;
        top: 30px;
        right: 0;
        background-color: #47095D;
        width: 100%;
        padding-top: 10px;
        z-index: 999;
    }

    .navigation.open ul {
        display: block;
    }

    .navigation.open ul li {
        width: 100%;
        text-align: center;
    }

    .navigation.open ul li a {
        padding: 10px;
        display: block;
        color: #A4E48B;
        background-color: #47095D;
    }


    main {
        padding-top: 20px;
    }

    .c2a,
    .current-events,
    .weather-card,
    .spotlightcard1,
    .spotlightcard2,
    .spotlightcard3 {
        background-color: #75FAA8;
        color: #47095D;
        padding: 20px;
        grid-column: 1/-1;
    }

    .c2a {
        grid-row: 2;
    }

    .current-events {
        grid-row: 3;
    }

    .weather-card {
        grid-row: 4;
    }

    .spotlightcard1 {
        grid-row: 5;
        margin-bottom: 10px;
    }

    .spotlightcard2 {
        grid-row: 6;
        margin-bottom: 10px;
    }

    .spotlightcard3 {
        grid-row: 7;
        margin-bottom: 10px;
    }

    .container {
        display: block; 
        max-width: 100%;
    }

    .sidebar {
        background-color: #47095D;
        color: #A4E48B;
        grid-row: auto; 
        grid-column: auto; 
        padding: 10px;
    }

    .visits,.demographics,.events,.attractions{
        width: 100%;
        margin: 0 auto;
        padding: 10px;
    }

    #discover{
        grid-row: 2;
        grid-template-columns: 1fr;   
        padding: 10px;
    }

    .imagecard {
        position: relative;
        text-align: center;
        align-items: center;
        width: 100%;
        max-width: 600px;
        margin: 20px auto; 
    }

    .imagecard picture {
        max-width: 100%;
        height: auto;
    }

    .imagecard:hover picture {
        transform: none;
    }

    #join {
        display: block;
        width: calc(100% - 40px)
    }

    #userForm {
        margin-bottom: 20px;
        width: calc(100% - 40px);
    }

    .benefitcard {
        width: calc(100% - 40px); 
        margin: 20px;
    }
}
