@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
        padding: 15px 30px;
    }

    .navigation ul {
        font-size: 18px;
    }

    .navigation li a {
        padding: 12px 16px;
    }

    main {
        padding: 30px;
        grid-gap: 30px;
    }

    h1 {
        font-size: 40px;
    }

    .hero img {
        max-width: 80%;
        max-height: 400px;
    }

    .c2a,
    .current-events,
    .weather-card,
    .spotlightcard {
        padding: 30px;
    }

    .spotlightcard {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        margin-bottom: 30px;
    }

    footer {
        padding: 15px 30px;
    }
}