body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

header {
    font-weight: 600;
    background-color: #2a203f;
    color: #bfffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 0px #777;
    flex-grow: 1;
}

.toggle-wrapper {
    position: relative;
}

.toggle-wrapper input[type="range"] {
    -webkit-appearance: none;
    width: 50px;
    height: 25px;
    background: #777;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    right: 0;
}

.toggle-wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #bfffff;
    cursor: pointer;
}

.toggle-wrapper input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #bfffff;
    cursor: pointer;
}

.dark-mode body,
.dark-mode main,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .hero,
.dark-mode .c2a,
.dark-mode .navigation,
.dark-mode .rental-cards-container,
.dark-mode .rental-card,
.dark-mode .weather {
    background-color: #000;
    color: #fde8cf;
    text-decoration: none;
}

.dark-mode .navigation ul li a {
    color: #bfffff;
    background-color: #000;
}

.dark-mode .navigation li a:hover {
    color: #bfffff;
    background-color: #043638;
}

.dark-mode .navigation a.active {
    text-decoration: underline;
}

.navigation {
    font-family: 'Lora', serif;
    background-color: #2a203f;
    color: #fde8cf;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation ul {
    font-size: 20px;
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navigation li {
    flex: 1;
    text-align: center;
}

.navigation li a {
    display: block;
    background-color: #bfffff;
    color: #043638;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    font-weight: 600;
    background-color: #bfffff;
    color: #2a203f;
}

.navigation a.active {
    font-weight: 600;
    text-decoration: underline;
    color: #bfffff;
    background-color: #043638;
}

main {
    background-color: #043638;
    color: #fde8cf;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.hero {
    position: relative;
}

.hero h2 {
    position: absolute;
    z-index: 9999;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #fde8cf;
    text-shadow: 4px 4px 0px #043638;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero picture,
.hero img {
    width: 100%;
    object-fit: cover;
    margin: 0; 
    max-width: 100%; 
}

.c2a {
    text-align: center;
    margin: 20px;
    padding: 20px; 
    grid-column: 1 / -1;
}
.c2a a {
    text-decoration: none;
}

.c2a h2 {
    font-size: 40px;
    color: #bfffff;
    background-color: #2a203f;
    border: 5px solid #043638;
    box-shadow: 0 0 10px #bfffff;
    padding: 20px;
    margin: 10px;
}

.weather {
    text-align: center;
    margin: 20px auto;
}

.weather {
    text-align: center;
    margin: 20px auto;
    margin: 20px;
}

#weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#weather-info > p {
    flex: 1;
    max-width: calc(50% - 20px);
    text-align: left;
}

.rental-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-content: center;
}

.rental-info {
    justify-content: center;
    text-align: center;
}

.rental-info h2 {
    text-align: center;
    grid-column: 1 / -1;
}

.rental-card {
    text-align: center;
    align-items: center;
    background-color: #fde8cf;
    color: #043638;
    border: 5px solid #2a203f;
    box-shadow: 0 0 10px #bfffff;
    max-width: 600px;
    padding: 20px;
    margin: 10px;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 20px;
}

.map {
    display: flex; 
    justify-content: center;
    align-items: center;
}

footer {
    font-weight: 600;
    background-color: #2a203f;
    color: #bfffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

footer ul {
    font-size: 20px;
    font-weight: 500;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer ul img {
    margin: 5px;
    width: 50px;
    height: 50px;
}