body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

#banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 900;
    color: #043638;
    background-color: #bfffff;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dismiss-banner {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #2a203f;
    background: none;
    border: none;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

header {
    font-weight: 600;
    background-color: #2a203f;
    color: #bfffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 0px #777;
    flex-grow: 1;
}

.toggle-wrapper {
    position: relative;
}

.toggle-wrapper input[type="range"] {
    -webkit-appearance: none;
    width: 50px;
    height: 25px;
    background: #777;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    right: 0;
}

.toggle-wrapper input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #bfffff;
    cursor: pointer;
}

.toggle-wrapper input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #bfffff;
    cursor: pointer;
}

.dark-mode body,
.dark-mode main,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode .hero,
.dark-mode .c2a,
.dark-mode .navigation,
.dark-mode .rental-cards-container,
.dark-mode .rental-card,
.dark-mode .weather,
.dark-mode .rental-pricing,
.dark-mode .rental-pricing table,
.dark-mode .rentals,
.dark-mode .rental-display-cards,
.dark-mode .rentals-card,
.dark-mode .reservations,
.dark-mode .rental-agreement,
.dark-mode .reservation-form,
.dark-mode #reservation-form {
    background-color: #000;
    color: #fde8cf;
    text-decoration: none;
}

.dark-mode .navigation ul li a {
    color: #bfffff;
    background-color: #000;
}

.dark-mode .navigation li a:hover {
    color: #bfffff;
    background-color: #043638;
}

.dark-mode .navigation a.active {
    text-decoration: underline;
}

.dark-mode .rentals-card h3 {
    color: #fde8cf;
    text-shadow: none;
}

.navigation {
    font-family: 'Lora', serif;
    background-color: #2a203f;
    color: #fde8cf;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation ul {
    font-size: 20px;
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navigation li {
    flex: 1;
    text-align: center;
}

.navigation li a {
    display: block;
    background-color: #bfffff;
    color: #043638;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation li a:hover {
    font-weight: 600;
    background-color: #043638;
    color: #bfffff;
}

.navigation a.active {
    font-weight: 600;
    text-decoration: underline;
    color: #bfffff;
    background-color: #043638;
}

main {
    background-color: #043638;
    color: #fde8cf;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.hero {
    position: relative;
}

.hero h2 {
    position: absolute;
    z-index: 9999;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    color: #fde8cf;
    text-shadow: 4px 4px 0px #043638;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero picture,
.hero img {
    width: 100%;
    object-fit: cover;
    margin: 0; 
    max-width: 100%; 
}

.c2a {
    text-align: center;
    margin: 20px;
    padding: 20px; 
    grid-column: 1 / -1;
}
.c2a a {
    text-decoration: none;
}

.c2a h2 {
    font-size: 40px;
    color: #bfffff;
    background-color: #2a203f;
    border: 5px solid #043638;
    box-shadow: 0 0 10px #bfffff;
    padding: 20px;
    margin: 10px;
}

.weather {
    text-align: center;
    margin: 20px auto;
    margin: 20px;
}

.weather h2 {
    font-size: 25px;
    text-decoration: underline;
}

#weather-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#weather-info > p {
    flex: 1;
    max-width: calc(50% - 20px);
    text-align: left;
    margin: 20px;
}

#next-day-forecast {
    text-align: right;
}

.rental-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-content: center;
}

.rental-info {
    justify-content: center;
    text-align: center;
}

.rental-card h3 {
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
    grid-column: 1 / -1;
}

.rental-card {
    text-align: center;
    align-items: center;
    background-color: #fde8cf;
    color: #043638;
    border: 5px solid #2a203f;
    box-shadow: 0 0 10px #bfffff;
    max-width: 600px;
    padding: 20px;
    margin: 10px;
}

.rental-card img {
    max-width: 100%;
    height: auto;
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 20px;
}

.map {
    display: flex; 
    justify-content: center;
    align-items: center;
}

footer {
    font-weight: 600;
    background-color: #2a203f;
    color: #bfffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
}

footer ul {
    font-size: 20px;
    font-weight: 500;
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

footer ul img {
    margin: 5px;
    width: 50px;
    height: 50px;
}

footer a{
    color: #bfffff;
}

.rental-pricing {
    text-align: center;
}

.rental-pricing h2{
    font-size: 25px;
    margin-top: 0;
    padding: 20px;
    text-decoration: underline;
}

.rental-pricing table {
    background-color: #bfffff;
    color: #043638;
    border-collapse: collapse;
    margin: 10px;
}

.rental-pricing table td,
.rental-pricing table th {
    border: 1px solid #2a203f;
    padding: 8px;
}

.rental-pricing table {
    margin: 0 auto;
    border: 5px solid #2a203f;
    box-shadow: 0 0 10px #fde8cf;
}

.rental-display-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 20px;
    justify-content: center;
}

.rentals-card {
    font-weight: 500;
    text-align: center;
    align-items: center;
    background-color: #fde8cf;
    color: #043638;
    border: 5px solid #2a203f;
    box-shadow: 0 0 10px #bfffff;
    max-width: 600px;
    padding: 20px;
    margin: 10px;
}

.rentals-card img {
    width: 100%;
}

.rentals-card h3 {
    font-weight: 900;
    color: #2a203f;
    text-shadow: 1px 1px 0px #bfffff;
}

#reservations {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
}

.reservation-form h2 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

#reservation-form {
    max-width: 800px;
    height: fit-content;
    margin: 0 auto;
}

form {
    background-color: #043638;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;
}

fieldset {
    margin: 20px;
    border: none;
    border: 3px solid #bfffff;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    padding: 20px;
}

legend {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    color: #fde8cf;
    margin-bottom: 10px;
    padding: 0 10px;
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000;
}

label {
    display: block;
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fde8cf;
}

#reservation-form input[type="text"],
#reservation-form input[type="email"],
#reservation-form input[type="number"],
#reservation-form input[type="tel"],
#reservation-form input[type="date"],
#reservation-form select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    border: 1px solid #bfffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.rental-info input[type="text"],
.rental-info input[type="email"] {
    text-align: left;
}

.rental-info {
    margin: 20px;
    border: none;
    border: 3px solid #bfffff;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    padding: 20px;
}

.rental-info legend {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    color: #fde8cf;
    margin-bottom: 10px;
    padding: 0 10px;
    text-shadow: -1px -1px 0 #000,  
                  1px -1px 0 #000,
                 -1px  1px 0 #000,
                  1px  1px 0 #000;
}

.special-info textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #bfffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.submit {
    display: block;
    background-color: #bfffff;
    color: #2a203f;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 auto;
}

.submit:hover {
    font-weight: 900;
    background-color: #2a203f;
    color: #bfffff
}

.rental-agreement h2 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 50px;
    text-decoration: underline;
}

.rental-agreement h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    color: #bfffff;
    text-shadow: -3px -3px 0 #2a203f;
    margin-top: 50px;
}

.rental-agreement li {
    font-size: larger;
    margin: 5px;
}

#res-pic {
    max-width: 100%;
    height: auto;
    margin: 50px auto;
    overflow: hidden;
}

#thank-you-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#thankyou {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

#contact-info img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
    margin-top: 50px;
}

#contact-info h2 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

#contact-info h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    text-align: left;
    color: #bfffff;
    text-shadow: -3px -3px 0 #2a203f;
    margin-top: 50px;
}

#contact-info p {
    font-size: 16px;
    margin: 5px;
}

#contact-form h2 {
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}

#contact .main-contact {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="number"],
#contact-form input[type="tel"],
#contact-form input[type="date"],
#contact-form select {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    border: 1px solid #bfffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

#contact-form textarea {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #bfffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
}

.submit-contact {
    display: block;
    background-color: #bfffff;
    color: #2a203f;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 0 auto;
}

.submit-contact:hover {
    font-weight: 900;
    background-color: #2a203f;
    color: #bfffff
}

#att-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.attributions {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    color: #2a203f;
    background-color: #bfffff;
}

.attributions h2{
    color:#043638;
    text-decoration: underline;
}