body {
    background-color: #043638;
    color: #fde8cf;
}

header {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #2a203f;
    color: #bfffff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: center;
}

h1,h2 {
    font-family: 'Cinzel', serif;
}

p {
    font-family: 'Raleway', sans-serif;
}

.site-name {
    margin-bottom: 20px;
}

.site-purpose,
.scenarios,
.color-schema,
.typography,
.wireframe {
    margin-bottom: 30px;
}

ul {
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

.color-schema {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blue-color-card {
    background-color: #bfffff;
    color: #2a203f;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #AEFFDE;
    padding: 20px;
    margin-bottom: 20px;
}

.seaGreen-color-card {
    background-color:#043638;
    color: #f9cebe;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #AEFFDE;
    padding: 20px;
    margin-bottom: 20px;
}

.sand-color-card {
    background-color: #fde8cf;
    color:#1565C0;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #AEFFDE;
    padding: 20px;
    margin-bottom: 20px;
}

.purple-color-card {
    background-color: #2a203f;
    color:#f9cebe;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #AEFFDE;
    padding: 20px;
    margin-bottom: 20px;
}

.primary-font {
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}

.secondary-font {
    font-family:'Lora', serif;
    font-weight: 400;
}

img {
    height: 400px;
    width: 300px;
    padding: 20px;
}

footer {
    background-color: #CDCCE8;
    color: #333;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    .red-color-card,
    .jasmine-color-card,
    .purple-color-card {
        padding: 10px;
    }

    img {
        height: auto;
        width: 100%;
    }
}