header {
    color: #75FAA8;
    font-family: 'Vollkorn', serif;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #03250C;
}

header img {
    width: 200px;
    height: 300px;
    margin-right: 25px;
}

body {
    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    margin: 0;
}

h2, h3 {
    font-family: 'Vollkorn', serif;
    padding: 1rem;
}

main {
    color: #75FAA8;
    background-color: #451B88;
    max-width: 1000px;
    margin: 0 auto;    
}

ul {
    list-style-type: none;
    padding: 1rem;
    margin: 0;
}

main ul a {
    padding: 0.5rem;
    color: #82F962;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 20px;
    border: 3px solid #75FAA8;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

p {
    padding: 0.5rem;
}

nav {
    font-size: 20px;
    padding: 20px;
    color: #03250C;
    background-color: #BFB7E1;
}

nav ul {
    font-family: "Philosopher", sans-serif;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav a{
    color: #03250C;
}

.navigation li {
    transition: background-color 0.3s, color 0.3s;
}

.navigation li:hover {
    background-color: #03250C;
    color: #BFB7E1;
}

.active a::before { 
    content: "📍";  
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
}

.map-container {
    width: calc(100% - 40px);
    padding: 20px;
    margin: 0 auto; 
}

.map-container iframe {
    width: 100%;
    height: 250px;
    border: 0;
}

footer {
    display: flex;
    color: #75FAA8;
    background-color: #03250C;
    text-align: center;
    padding: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer img {
    width: 20px;
    height: 15px; 
    margin-top: 5px;
    margin-left: 5px;
}

@media only screen and (max-width: 600px) {
    header img {
        width: 30%; 
        max-width: 150px;
        height: auto; 
        margin-right: 15px;
    }

    nav {
        font-size: 16px;
        padding: 15px;
    }

    footer img {
        width: 15px;
        height: 12px;
        margin-top: 3px;
        margin-left: 3px;
    }

    #copyrightParagraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: transparent;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "X";
        font-weight: bold;
    }
    
    .navigation {
        display: flex;
        flex-direction: column;
        list-style: none;
        background-color: transparent;
        color: #03250C;
    }
    
    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
    }
    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
    }
      
    .open a {
        display: block;
    }
    
    .stuff {
        margin: 0.5em;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #bed;
        max-width: 100%;
        height: auto;
    }
}